<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_day.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,516},{288,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,512}}</string>
                <key>sourceSize</key>
                <string>{288,512}</string>
            </dict>
            <key>bg_medal.png</key>
            <dict>
                <key>frame</key>
                <string>{{18,854},{226,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,114}}</string>
                <key>sourceSize</key>
                <string>{226,114}</string>
            </dict>
            <key>bg_night.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{288,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,512}}</string>
                <key>sourceSize</key>
                <string>{288,512}</string>
            </dict>
            <key>bird0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,986},{34,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,12},{34,24}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>bird0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,986},{34,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,12},{34,24}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>bird0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,920},{34,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,12},{34,24}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>bird1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,894},{34,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,12},{34,24}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>bird1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,868},{34,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,12},{34,24}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>bird1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,842},{34,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,12},{34,24}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>bird2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,806},{34,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,12},{34,24}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>bird2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,806},{34,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,12},{34,24}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>bird2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,982},{34,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,12},{34,24}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>btn_menu.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,888},{80,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,28}}</string>
                <key>sourceSize</key>
                <string>{80,28}</string>
            </dict>
            <key>btn_ok.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,806},{80,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,28}}</string>
                <key>sourceSize</key>
                <string>{80,28}</string>
            </dict>
            <key>btn_pause.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,840},{26,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,28}}</string>
                <key>sourceSize</key>
                <string>{26,28}</string>
            </dict>
            <key>btn_play.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,849},{114,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,63}}</string>
                <key>sourceSize</key>
                <string>{114,63}</string>
            </dict>
            <key>btn_rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,852},{114,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,63}}</string>
                <key>sourceSize</key>
                <string>{114,63}</string>
            </dict>
            <key>btn_rate.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,806},{69,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,41}}</string>
                <key>sourceSize</key>
                <string>{69,41}</string>
            </dict>
            <key>btn_share.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,849},{110,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,28}}</string>
                <key>sourceSize</key>
                <string>{110,28}</string>
            </dict>
            <key>ground.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,516},{336,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,112}}</string>
                <key>sourceSize</key>
                <string>{336,112}</string>
            </dict>
            <key>medal_copper.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,806},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>medal_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,806},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>medal_none.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,806},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>medal_sliver.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,806},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>pipe_green_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,516},{52,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,320}}</string>
                <key>sourceSize</key>
                <string>{52,320}</string>
            </dict>
            <key>pipe_green_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,970},{52,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,320}}</string>
                <key>sourceSize</key>
                <string>{52,320}</string>
            </dict>
            <key>pipe_red_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,516},{51,319}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,319}}</string>
                <key>sourceSize</key>
                <string>{51,319}</string>
            </dict>
            <key>rect_small_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,806},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>rect_small_white.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,986},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>small_addon.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,838},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,10}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>text_copyright.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,854},{126,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,14}}</string>
                <key>sourceSize</key>
                <string>{126,14}</string>
            </dict>
            <key>text_game_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,806},{178,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,53}}</string>
                <key>sourceSize</key>
                <string>{178,53}</string>
            </dict>
            <key>text_over.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,806},{200,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,53}}</string>
                <key>sourceSize</key>
                <string>{200,53}</string>
            </dict>
            <key>text_ready.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,968},{196,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,54}}</string>
                <key>sourceSize</key>
                <string>{196,54}</string>
            </dict>
            <key>tip_fly.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,852},{114,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,98}}</string>
                <key>sourceSize</key>
                <string>{114,98}</string>
            </dict>
            <key>tip_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,838},{32,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,14}}</string>
                <key>sourceSize</key>
                <string>{32,14}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>main.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e7588f1af17a6a6a27e80f00ca2745a3:4dadf9f04f570c1c55a0e5206eadfb8b:f825fbbb9a18ab865aa3d3b8d78761c2$</string>
            <key>textureFileName</key>
            <string>main.pvr.ccz</string>
        </dict>
    </dict>
</plist>
